# Node modules
**/node_modules/

# Env files
**/.env

# VSCode / editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# build output (Next.js)
frontend/.next/
frontend/out/

# Prisma
frontend/prisma/migrations/
frontend/prisma/.env

# Temp files
*.tmp

# ESP32
nodemcu/.pio
nodemcu/.vscode/.browse.c_cpp.db*
nodemcu/.vscode/c_cpp_properties.json
nodemcu/.vscode/launch.json
nodemcu/.vscode/ipch
