// secrets.h (git‑ignored)
#define MQTT_HOST     "***********************.s1.eu.hivemq.cloud"
#define MQTT_PORT     8883
#define MQTT_USERNAME "****************"
#define MQTT_PASSWORD "****************"
